---
layout: homepage
---
{{ content }}

<h2>来源</h2>
<p>
<ul>
    {% if page.source == 'Martin Fowler' %}
        <li>这种坏味道收录在 Martin Fowler 的《重构》，第2版</li>
    {% endif %}
    {% if page.wikipedia_source == true %}
        <li> 这种坏味道被收录在维基百科的 <a href="https://en.wikipedia.org/wiki/Code_smell">代码坏味道</a></li>
    {% endif %}
    {% if page.source != 'Martin Fowler' %}
        <li>这种坏味道是由以下人员贡献给本网站的 {{ page.source }}</li>
    {% endif %}

</ul>
</p>

<p>
    返回到 <a href="/reference/code_smells/index.html">全部 代码坏味道</a>
</p>