---
layout: homepage
---
{{ content }}

<h2>提到的代码坏味道 </h2>
<p>
    <ul>
    {% assign sorted_smells = site.code_smells | sort: 'title' %}
    {% for smell in sorted_smells %}
        {% if page.code_smells contains smell.name %}
        <li>
            <a href="{{ smell.url }}">{{ smell.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>
</p>

<h2>相关的学习时间 </h2>
<p>
<ul>
    {% assign sorted_lhs = site.learning_hours | sort: 'title' %}
    {% for lh in sorted_lhs %}
    {% if page.learning_hours contains lh.name %}
    <li>
        <a href="{{ lh.url }}">{{ lh.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
</p>

<h2>来源</h2>
<p>
<ul>
    {% if page.source == 'Martin Fowler' %}
    <li>这个重构手法包含在 Martin Fowler 的书 <a href="{{ page.source_url }}">《重构》, 第2版</a></li>
    {% endif %}
    {% if page.source != 'Martin Fowler' %}
    <li>This refactoring was contributed to this site by {{ page.source }}</li>
    <li>这个重构手法是由以下人员贡献给本网站的 {{ page.source }}</li>
    {% endif %}

</ul>
</p>
<p>
    返回到 <a href="/reference/refactorings/index.html">全部重构</a>
</p>